<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51198298973-nrprnhlrmkcsug246cnkkrn8b2gikse2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51198298973-nrprnhlrmkcsug246cnkkrn8b2gikse2</string>
	<key>API_KEY</key>
	<string>AIzaSyBvBga4R_S_X1IHOO3aiyBD97ZbP6b6z84</string>
	<key>GCM_SENDER_ID</key>
	<string>51198298973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TeamKadd.Listener</string>
	<key>PROJECT_ID</key>
	<string>teamkaddhackdavis2020</string>
	<key>STORAGE_BUCKET</key>
	<string>teamkaddhackdavis2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51198298973:ios:a68769a01392279eb236b4</string>
	<key>DATABASE_URL</key>
	<string>https://teamkaddhackdavis2020.firebaseio.com</string>
</dict>
</plist>